
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-content {
  padding: 2em;
}

.wizard {
  text-align: center;
}

.profiles {
  text-align: center;
}

.profile {
  margin-left: 20%;
  margin-right: 20%;
  padding: 1em;
}

.slot-outline {
  display: inline-block;
  border-radius: 0.2em;
  box-shadow: 0px 0px 20px 0px rgb(99, 187, 185);
  margin: 2em;
  line-height: 10em;
  color: #989595;
}

.slot-outline:hover {
  box-shadow: 0px 0px 30px 0px rgb(99, 200, 100);
  cursor: pointer;
  color: black;
}

.progress-indicator {
  border: 2px solid #4c93dc;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 99em;
  font-weight: 700;
  color: #6e8dff;
  margin-top: 2em;
}

.rules-form {
  text-align: left;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  text-align: center;
}

h1 {
  font-family: Caveat;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2em;
}

.toolbar-link {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 100%;
}

.add-profile-hero {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1em;
  text-align: left;
  background-color: #3dd23d !important;
}

.add-profile-hero:hover {
  background-color: #4be64b !important;
  margin-left: 19.5%;
  margin-right: 19.5%;
  transition-property: margin-left, margin-right;
  transition-duration: 0.5s;
  transition-delay: 0s;

}

.add-profile-hero h6 {
  color: white;
}

.add-button {
  float: right;
  color: white;
}

table a {
  color: #4a79b7;
  text-decoration: none;
}